@media (max-width: 1200px){
	.container{
		max-width: 960px;
	}
	.promo{
		padding-top: 175px;
		&__btn{
			margin-left: 300px;
			width: 32%;
		}
		&__social{
			display: none;
		}
	}
	.title_promo{
		margin-left: 300px;
	}
	.subtitle_promo{
		margin-left: 300px;
	}


	.me{
		&__grid-container{
			grid-template-columns: 280px 590px;
		}
	}
	

	.exp{
		&__wrapper{
			column-gap: 50px;
		}
	}

	.skills{
		&__wrapper{
			justify-content: center;
		}
	}

	.contacts{
		&__wrapper{
			padding: 0px;
			grid-template-columns: 370px 585px;
			column-gap:10px;
			justify-content: unset;
			&-item{
				position: relative;
				overflow: hidden;
				&-img{
					img{
						position: absolute;
						width: 111%;
						left: -14px;
					}
				}
			}
		}
	}

}

@media (max-width: 992px){
	.container{
		max-width: 720px;
	}
	.promo{
		padding-top: 170px;
	}
	.title_promo{
		margin-left: 85px;
		font-size: 40px;
	}
	.subtitle_promo{
		margin-left: 85px;
	}
	.promo__btn{
		margin-left: 85px;
		width: 43%;
	}

	.me{
		&__grid-container{
			grid-template-columns: 270px 380px;
		}
		&__avatar{
			margin-top: 38%;
		}
	}

	.exp{
		&__wrapper{
			padding: 0;
			grid-template-columns: repeat(2,auto);
			column-gap: 20px;
		}
	}
	.contacts{
		&__wrapper{
			grid-template-columns: auto;
			&-item{
				&-img{
					display: none;
				}
				&-social{
					width: 130px;
				}
			}
		}
		&__form{
			grid-template-columns: repeat(2, auto) ;
			justify-content: unset;
		}
		
	}
}

@media (max-width: 768px){
	.container{
		max-width: 540px;
	}
	.promo{
		padding-top: 130px;
		&__btn{
			margin-left: 0px;
			width: 53%;
		}
	}
	.title_promo{
		margin-left: 0px;
		font-size: 40px;
	}
	.subtitle_promo{
		margin-left: 0px;
	}	

	.me{
		&__grid-container{
			grid-template-columns: 535px;
			grid-template-rows: auto auto;
		}
		&__avatar{
			display: none;
		}
		&__tabs{
			grid-column: 1/2;
			grid-row: 2/3;
		}
	}

	.exp{
		&__wrapper{
			grid-template-columns: auto;
			grid-template-rows: auto auto;
			row-gap: 40px;
		}
	}

	.portfolio{
		&__wrapper{
			margin-top: 40px;
			grid-template-columns: 280px;
			grid-template-rows: repeat(3, 280px);
			grid-auto-rows: 280px;
			&-item{
				&_uber{
					grid-column: unset ;
					img{
						width: 242%;
						left: -274px;							
					}
				}
				&_wordpress{
					grid-column: unset ;
					grid-row: unset;
				}
				&_pulse{
					grid-column: unset ;
					grid-row: unset;
				}&:hover{
					filter: none;
					transform: none;
					z-index: 10;
				}	
			}
		}
	}

	.contacts{
		&__form{
			grid-template-columns: repeat(2, auto) ;
		}
	}

	.btn{
		&:hover{
			background:$main_color;
		}
	}

}

@media (max-width: 576px){
	.container{
		width: 100%;
		padding: 0 10px;
	}
	.promo{
		padding-top: 180px;
		&__btn{
			width: 290px;
		}
	}
	.title_promo{
		font-size: 28px;
	}
	.subtitle_promo{
		font-size: 16px;
	}
	.menu{
		&__block{
			width: 250px;
			padding-left: 0px;
		}
		&__list{
			padding-left: 50px;
		}
	}

	.me{
		padding-top: 40px;
		&__grid-container{
			grid-template-columns: auto;
			row-gap: 20px;
		}
	}

	.title{
		font-size: 24px;
		margin-top: 26px;
	}

	.line_mt4px {
		margin-top: 15px;
	}

	.line_center {
		margin-top: 15px;
	}
	.exp{
		padding-top: 40px;
		&__wrapper{
			margin-top: 40px;
		}
		&__column{
			&-title{
				font-size: 20px;
				margin: 0;
			}
		}
	}
	.portfolio{
		padding-top: 40px;
	}
	.contacts{
		padding: 40px 0 50px 0;
		&__form{
			grid-template-columns:auto;
			grid-template-rows: 45px 45px 140px auto;	
		}
		&__textarea{
			grid-row: unset;
			grid-column: unset;
		}
		&__triggers{
			grid-column: unset;
			grid-template-columns: auto;
			justify-items: center;
			row-gap: 20px;

		}
		&__policy{
			grid-row: 1/2;
			text-align: center;
		}
	}
	.policy {
		font-size: 14px;
	}
	.pageup {
		opacity: 0.7;
	}

}
