.promo{
	position: relative;
	min-height: 100vh;
	background: url('../img/background_first_screen1.1.jpg') center center/cover no-repeat;
	padding-top: 50vh;
	&__btns{
		margin-left: 410px;
		margin-top: 25px;
		width: 250px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__link{
		color: #000;			
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		text-decoration: none;
		&:hover{
			color: #000;	
		}
	}
	&__social{
		display: flex;
		position: absolute;
		align-items: center;
		top: 65%;
		left: -160px;
		transform: rotate(-90deg);
	}
	&__text{
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		color:#fff;
		margin-right: 15px;		
	}
	&__line{
		width: 70px;
		height: 0px;	
		border: 1px solid #fff;
		margin-right: 15px;		
	}
	&__icon{
		display: flex;
		height: 20px;
		width: 20px;
		margin-right: 20px;	
	}
	&__settings{
		height: 100%;
		width: 100%;
	}
}	