.subtitle{
	position: relative; //для миксина
	font-style: normal;
	font-weight: 700;
	color: #fff;
	font-size: 16px;
	z-index: 2;
	&_promo{
		margin-left: 410px;
		padding-left: 10px;
		margin-bottom: 9px;
	}
	&_black{
		color: #000;
	}
	@include before_circle;
}